@page
@model ShinobiRanks1._0.Pages.hvchuunin.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>HVChuunin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HVChuunin.CID" />
            <div class="form-group">
                <label asp-for="HVChuunin.ChuuninName" class="control-label"></label>
                <input asp-for="HVChuunin.ChuuninName" class="form-control" />
                <span asp-validation-for="HVChuunin.ChuuninName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HVChuunin.Team" class="control-label"></label>
                <input asp-for="HVChuunin.Team" class="form-control" />
                <span asp-validation-for="HVChuunin.Team" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HVChuunin.ChuuninCNature" class="control-label"></label>
                <input asp-for="HVChuunin.ChuuninCNature" class="form-control" />
                <span asp-validation-for="HVChuunin.ChuuninCNature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HVChuunin.HVID" class="control-label"></label>
                <select asp-for="HVChuunin.HVID" class="form-control" asp-items="ViewBag.HVID"></select>
                <span asp-validation-for="HVChuunin.HVID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
